[submodule "themes/hermit"]
	path = themes/hermit
	url = https://github.com/Track3/hermit.git
[submodule "themes/tufte"]
	path = themes/tufte
	url = https://github.com/slashformotion/hugo-tufte.git
[submodule "themes/bearblog"]
	path = themes/bearblog
	url = https://github.com/janraasch/hugo-bearblog.git
