/* Bring the style sheet of BearBlog theme here. Just in case. */
/* Note: This seemed to fix issues with styling on mobile devices. */

body {
    font-family: Verdana, sans-serif;
    margin: auto;
    padding: 20px;
    max-width: 720px;
    text-align: left;
    background-color: #ffffff;
    word-wrap: break-word;
    overflow-wrap: break-word;
    line-height: 1.5;
    color: #444444;
}

h1, h2, h3, h4, h5, h6, strong, b {
    color: #222222;
}

a {
    color: #3273dc;
    /*color: #ff5e6c;*/
}

.title {
    text-decoration: none;
    border: 0;
}

.title span {
    font-weight: 400;
}

nav a {
    margin-right: 10px;
}

textarea {
    width: 100%;
    font-size: 16px;
}

input {
    font-size: 16px;
}

content {
    line-height: 1.6;
}

table {
    width: 100%;
}

img {
    max-width: 100%;
}

code {
    padding: 2px 5px;
    background-color: #f2f2f2;
}

pre code {
    color: #222222;
    display: block;
    padding: 20px;
    white-space: pre-wrap;
    font-size: 14px;
}

div.highlight pre {
    background-color: initial;
    color: initial;
}

div.highlight code {
    background-color: unset;
    color: unset;
}

blockquote {
    border-left: 1px solid #999999;
    color: #222222;
    padding-left: 20px;
    font-style: italic;
}

footer {
    padding: 25px;
    text-align: center;
}

.helptext {
    color: #777777;
    font-size: small;
}

.errorlist {
    color: #eba613;
    font-size: small;
}

/* blog posts */
ul.blog-posts {
    list-style-type: none;
    padding: unset;
}

ul.blog-posts li {
    display: flex;
}

ul.blog-posts li span {
    flex: 0 0 130px;
}

ul.blog-posts li a:visited {
    color: #8b6fcb;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #333333;
        color: #dddddd;
    }

    h1, h2, h3, h4, h5, h6, strong, b {
        color: #eeeeee;
    }

    a {
        color: #8cc2dd;
    }

    code {
        background-color: #777777;
    }

    pre code {
        color: #dddddd;
    }

    blockquote {
        color: #cccccc;
    }

    textarea,
    input {
        background-color: #252525;
        color: #dddddd;
    }

    .helptext {
        color: #aaaaaa;
    }
}
